.bannerContainer {
  /* border: 2px solid red; */
  /* height: 80vh; */
  background-image: url("/public/banner2.jpg");
}

.bannerContent {
  /* border: 2px solid red; */
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tagline {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}
