.coinContainer {
  border: 2px solid white;
  display: flex;
  font-family: Montserrat;
}
.coinInfo {
  border: 2px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.coinImg {
  margin: 15px;
}
.coinCharts {
  border: 2px solid red;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heading {
  /* border: 2px solid red; */
  color: yellow;
  font-size: 25px;
  font-weight: bolder;
}
.description {
  width: 100%;
  text-align: justify;
  padding: 7px;
}
.rank {
  margin: 7px;
  font-size: 14px;
  color: yellow;
  font-weight: bold;
}
.marketdata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Media queries for mobile responsive. */
@media (min-width: 0em) and (max-width: 40em) {
  .coinContainer {
    display: block;
    width: 100%;
  }
  .coinInfo {
    width: 100%;
  }
  .coinCharts {
    width: 100%;
  }
}
